:root {
  --light-gray: #f4f4f4;
  --main-blue: #4aa8d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* 데코 X, 색상 black, a 태그 전체에 적용 */
a {
  text-decoration: none;
  color: black;
}

header {
  background-color: var(--light-gray);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  margin: 0 1rem;
}

.title a {
  font-size: 2rem;
  color: var(--main-blue);
  font-weight: 900;
}

.sign-container {
  display: flex;
}

/* 폰트 사이즈는 4px단위로 커지는 게 좋음 */
.sign-container a {
  font-size: 1.6rem;
}

.sign-in {
  margin-right: 1rem;
}

.inner {
  margin: 0 auto; /* margin의 좌우를 똑같이 분배하고 싶을 때 */
}

/* 컨텐츠 영역이 1200px을 넘지 않게 만들기 (media query를 최소 1200px부터 적용) */
@media only all and (min-width: 1200px) {
  .inner {
    max-width: 1200px; /*inner 안에 감싸진 부분은 1200px을 최대로 함*/
  }

  html {
    font-size: 12px; /* 큰 화면이 되면, 폰트도 같이 커지게 하기 위해 */
  }
}

.hidden {
  display: none;
}
