.blue {
  color: var(--main-blue);
}

/* main .inner {
  height: 100%;
}

.signin-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

main {
  position: relative;
}

.signin-container {
  width: 100%; /*signin-form을 container의 80%로 두기 위해*/
  position: absolute; /* signin-container 입장에서 position이 relative인 가장 가까운 태그는 main이기 때문에 main 위치를 기준으로 자신의 위치를 정하게 된다*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 개체의 너비, 높이에 대해 각각 -50%만큼 이동한다 */
  text-align: center;
}

.signin-container h1 {
  font-size: 2.5rem;
}

.signin-form {
  width: 80%;
  max-width: 30rem; /*로그인 input칸이 너무 커지는 걸 방지*/
  margin: 2rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-form input {
  width: 100%;
  font-size: 1.6rem;
  line-height: 2;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border: 3px solid var(--dark-gray);
}

#signin {
  padding-left: 0;
  background-color: var(--main-blue);
  border: none;
  color: white;
  cursor: pointer;
}

#signin:hover {
  color: black;
}

.signin-container {
  width: 100%;
  text-align: center;
}

#signup {
  color: black;
  font-size: 1.4rem;
}

@media only all and (max-width: 400px) {
  html {
    font-size: 8px;
  }
}
