/* html, body 영역이 웹브라우저 상의 모든 부피를 차지하도록 한다 */
html,
body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

/*css cascading에 의해 header.css link 태그가 footer.css의 위에 있기 때문에 header.css의 root 요소 사용 가능*/
footer {
  background-color: var(--light-gray);
  height: 3rem;
}

.footer-container {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 3rem;
  /* gap: 1rem; flex 박스의 속성*/
}

.author {
  margin-right: 1rem;
}
